.theme--light.v-tabs-items {
  background-color: #f5f5f5;
  margin-top: 104px;
}

.theme--dark.v-tabs-items {
  background-color: #272727;
  margin-top: 104px;
}

.theme--light.v-application {
  background-color: #f5f5f5 !important;
}

.theme--dark.v-application {
  background-color: #272727 !important;
}