@import url("https://fonts.googleapis.com/css?family=Nunito");
@import 'libraries'; // @import 'datepicker2';
@import 'chat.scss'; /* Hide scrollbar for Chrome, Safari and Opera */
@import 'colorApp.scss';
@import 'scrollbar.scss';

#app {
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.vue-tel-input-vuetify .v-text-field .v-select__selections .vti__flag {
  margin-left: 0;
}
//toolbar
// .notiftoolbar .v-toolbar {
//   height: 64px !important;
// }
//
// .notiftoolbar .v-toolbar__content {
//   height: 64px !important;
// }
//
// .notiftoolbar .v-toolbar__extension {
//   height: 4px !important;
// }
//
// .reservationtoolbar .v-toolbar {
//   height: 64px !important;
// }
//
// .toptoolbar .v-toolbar {
//   height: 56px !important;
// }
//
// .toptoolbar .v-toolbar__content {
//   height: 56px !important;
// }
//
// .v-app-bar {
//   height: 104px !important;
// }
//

button:focus {
  outline: unset !important;
}

.v-toolbar__extension > .v-tabs:last-child {
  margin-right: 0;
  margin-left: 0;
}

.v-stepper {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.theme--dark.v-badge .v-badge__badge::after {
  border-color: #363636;
}
// autofill light

.theme--light input:-webkit-autofill,
.theme--light input:-webkit-autofill:focus .theme--light input:-webkit-autofill,
.theme--light input:-webkit-autofill:hover,
.theme--light select:-webkit-autofill,
.theme--light select:-webkit-autofill:focus,
.theme--light select:-webkit-autofill:hover,
.theme--light textarea:-webkit-autofill,
.theme--light textarea:-webkit-autofill:hover .theme--light textarea:-webkit-autofill:focus {
  border: none !important;
  -webkit-text-fill-color: rgba(0, 0, 0, 0.87) !important;
  transition: background-color 5000s ease-in-out 0s;
}
// autofill dark

.theme--dark input:-webkit-autofill,
.theme--dark input:-webkit-autofill:focus .theme--dark input:-webkit-autofill,
.theme--dark input:-webkit-autofill:hover,
.theme--dark select:-webkit-autofill,
.theme--dark select:-webkit-autofill:focus,
.theme--dark select:-webkit-autofill:hover,
.theme--dark textarea:-webkit-autofill,
.theme--dark textarea:-webkit-autofill:hover .theme--dark textarea:-webkit-autofill:focus {
  border: none !important;
  -webkit-text-fill-color: #FFFFFF !important;
  transition: background-color 5000s ease-in-out 0s;
}

.v-tabs-slider-wrapper {
  height: 2px !important;
}

.v-slide-group__prev {
  flex: unset !important;
  min-width: unset !important;
}
//
//media screens
@media only screen and (max-width: 720px) {
  .sign-controls {
    width: 85vw;
    text-align: center;
    margin: auto;
    top: 50vh;
    right: 0 !important;
    left: 0;
    display: block !important;
    padding-top: 0;
  }

  .login-content {
    padding: 0;
  }

  .register-content {
    padding: 0;
  }

  .text {
    display: block !important;
  }

  .content {
    top: 20vh !important;
  }
}
@media only screen and (max-width: 550px) {
  .sign-controls {
    top: 45vh;
  }
}

.phone-viewport {
  display: none;
}

.v-speed-dial {
  display: block !important;
}
@media only screen and (max-width: 480px) {
  .phone-viewport {
    display: block;
  }

  .v-speed-dial {
    display: none !important;
  }

  .v-footer {
    display: none !important;
  }
  // .v-card {
  //   padding-bottom: 56px;
  // }
  .v-card-logout.v-card {
    padding-bottom: 0;
  }
}
@media only screen and (max-width: 450px) {
  .sign-controls {
    top: 40vh;
  }
}
@media only screen and (max-width: 350px) {
  .sign-controls {
    top: 35vh;
  }
}
// .blur-effect {
//   -webkit-filter: blur(5px);
//   pointer-events: none;
//   overflow: hidden;
// }

.fixed {
  position: fixed;
  overflow: hidden;
}

.logo2 {
  width: 150px;
  float: left;
}

a:hover {
  text-decoration: none !important;
}

.menu {
  padding: 10px;
}
/* rate */
.rating {
  float: left;
  transform: rotateY(180deg);
  display: flex;
}

.rating input {
  display: none;
}

.rating label {
  display: block;
  cursor: pointer;
  width: 50px;
}

.rating label:before {
  content: '\f005';
  color: #e1e6ea;
  font-family: "Font Awesome 5 Free";
  /* font-family: "FontAwesome"; */
  position: relative;
  display: block;
  font-size: 50px;
  font-weight: 900;
}

.rating label::after {
  content: '\f005';
  color: #1f9cff;
  font-family: "Font Awesome 5 Free";
  /* font-family: "FontAwesome"; */
  position: absolute;
  display: block;
  font-size: 50px;
  top: 0;
  opacity: 0;
  transition: 0.5s;
  font-weight: 900;
  /* text-shadow: 0 2px 5px rgba(0,0,0,.5); */
}

.rating input:checked~label::after,
.rating label:hover::after,
.rating label:hover~label::after {
  opacity: 1;
}
//bars

.bar-4 {
  width: 30%;
  height: 18px;
  // background-color: #2196F3;
}

.side {
  float: left;
  width: 15%;
  margin-top: 7px;
}

.side-top {
  float: left;
  width: 15%;
}

.middle {
  margin-top: 7px;
  float: left;
  width: 70%;
}

.middle-top {
  float: left;
  width: 70%;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* The bar container */
.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}

.star {
  position: relative;
  display: inline-block;
  font-size: 50px;
}

.star2 {
  position: relative;
  display: inline-block;
  font-size: 20px;
}

.star3 {
  color: #e1e6ea;
}

.star-under {
  color: #e1e6ea;
}

.star-over {
  color: #1f9cff;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  margin-right: 5px;
  text-shadow: unset !important;
  opacity: 1 !important;
}

.log-reg-close {
  position: absolute;
  top: 10px;
  right: 10px;
}

.close:focus,
.col-12:focus {
  outline: none;
}

.offset-2 {
  margin: 0 !important;
}
// pagination

.v-application--is-ltr .v-data-footer__select {
  margin-right: 0;
}

.v-application--is-ltr .v-data-footer__select .v-select {
  margin: 13px 0 13px 15px;
}

.v-application--is-ltr .v-data-footer__pagination {
  margin: 0 5px 0 15px;
}

.v-application--is-ltr .v-data-footer__icons-before .v-btn:last-child {
  margin-right: 0;
}

.v-application--is-ltr .v-data-footer__icons-after .v-btn:first-child {
  margin-left: 0;
}

.v-data-footer {
  justify-content: center !important;
  padding: 0;
}